.header.block {
  // background-image: url(../assets/images/header.jpg);
  background-size: auto 100%;
  background-position: top right;
  background-repeat: no-repeat;
}

.intro  {
  margin: 20vh 0rem;

  h1,
  h2 {
    font-size: 3rem;
    text-transform: uppercase;
  }

  h1 {
    font-weight: bold;
    margin-bottom: 0rem;
  }

  h2 {
    font-weight: 300;

    .year:before {
      content: " | ";
    }
  }

  .subtitle {
    margin: 0.5rem 0rem 2rem 0rem;
    font-weight: normal;
  }

  .countdown {
    font-size: 1.5rem;
    font-weight: lighter;
  }

  .backers {
    margin-top: 3rem;

    a {
      img {
        height: 5rem;
      }

      & + a {
        margin-left: 3rem;
      }
    }
  }

  .apply.button {
    font-size: 1.1rem;
  }
}

.disabled {
  background-color: #dddddd !important;
  border-color: grey !important;
  color: grey !important;
  cursor: default !important;
}

.grid img {
  width: 100%;
}

.about {
  margin: 3rem 0rem;

  .tldr {
    font-size: 2.25rem;
  }
}

.sponsors {
  .grid {
    margin-bottom: 5rem;

    .row > * {
      padding: @size-grid-margin 0rem;
    }
  }

  .become.sponsor {
    margin-top: 5rem;
  }
}

.venue {
  margin-bottom: 5rem;

  #map {
    .card-shadow();

    height: 30rem;
  }
}

.iframe {
  .card-shadow();

  width: 100%;
  height: 315px;
}

.hardware {
  .bottom.aligned {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 16rem;
  }
}

.team {
  margin-bottom: 5rem;
}

.media .section.heading {
  margin-top: 0.5rem;
}

.mlh-trust-badge {
  display: block;
  width: 10%;
  max-width: 6rem;
  min-width: 4rem;

  position: fixed;
  right: 2.5rem;
  top: 0rem;

  z-index: 10000;
}

@media screen and (max-width: @breakpoint-tablet) {
  .header.block {
    background-size: auto 70%;
  }

  .mlh-trust-badge {
    right: 7rem;
  }
}

@media screen and (max-width: @breakpoint-mobile) {
  .header.block {
    background-size: auto 40%;
  }

  .intro {
    margin-top: 30vh;
    margin-bottom: 0vh;

    text-align: center;

    h1,
    h2 {
      font-size: 2rem;
    }

    .subtitle h3 {
      font-size: 1rem;

      .date {
        display: block;

        &:before {
          content: "";
        }
      }
    }

    .backers {
      a {
        display: block;
        margin-top: 3rem;

        & + a {
          margin-left: 0rem;
        }
      }
    }
  }

  .castle.image.container img {
    width: 80vw;
    max-height: 65vh;

    right: 10vw;
  }

  .mlh-trust-badge {
    display: none;
  }
}
