.intro {
  margin: 12vh 0rem;

  h1 {
    font-size: 3.5rem;
    font-weight: 500;
  }

  .subtitle {
    margin: 0.5rem 0rem 2rem 0rem;
  }

  .backers {
    margin-bottom: 3rem;

    a {
      img {
        height: 5rem;
      }
      
      & + a {
        margin-left: 3rem;
      }
    }
  }
}

.castle.image.container img,
.rocket.image.container img {
  position: absolute;
  bottom: -3rem;
  right: 2rem;

  z-index: @z-triangle-content;
}

.grid img {
  width: 100%;
}

.about {
  margin: 3rem 0rem;
}

.tracks {
  margin-bottom: 12rem;
}

.sponsors {
  .become.sponsor {
    margin-top: 5rem;
  }
}

.venue {
  margin-bottom: 5rem;
}

.team {
  margin-bottom: 5rem;
}
