.register.page {
  .block {
    height: 100vh;
  }

  .triangle {
    float: left;
  }

  .signup.form {
    label,
    input,
    button,
    p {
      display: block;
      width: 15rem;
    }

    label {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }

    button,
    p {
      margin-top: 2rem;
    }
  }

  .success.message {
    width: 15rem;
  }
}
