extends ../layout.pug

block nav
  include ../components/back-to-home.pug
  
  ul
    li
      a(href="#contact") Kontakt
    li
      a(href="#references") Verweise und Links
    li
      a(href="#data") Datenermittlung
    li
      a(href="#existing-data") Bestandsdaten
    li
      a(href="#usage-data") Nutzungsdaten
    li
      a(href="#cookies") Cookies
    
block content
  section.accent.block
    .container
      br
      h1 Impressum
      p R-Tech GmbH &mdash; ein Unternehmen der Stadt Regensburg
        br
        | Franz-Mayer-Str. 1
        br
        | 93053 Regensburg HRB 8306
        br
        | Amtsgericht Regensburg
        br
        | Umsatzsteuer ID-Nr.: DE 216839078
      p Die R-Tech GmbH führt die Geschäfte der Digitalen Gründerinitiative Oberpfalz DGO.
      br

  a.upwards.right.white.triangle(name="contact")
  
  section.small.white.block
    .container
      br
      h2.accent.text Kontakt

      p
        table
          tbody
            tr
              td Tel.: 
              td +49.(0)941.604889-0
            tr
              td Fax: 
              td +49.(0)941.604889-11
            tr
              td E-Mail: 
              td
                a.accent.text(href="mailto:dgo@techbase.de") dgo@techbase.de

      br

      h3.accent.text Geschäftsführer
      p Alexander Rupprecht, Toni Lautenschläger

      h3.accent.text Projektleiterin DGO
      p Monika Schleissing
        br
        | E-Mail: 
        a.accent.text(href="mailto:monika.schleissing@techbase.de") monika.schleissing@techbase.de

      h3.accent.text Presse
      p Tanja Braun 
        br
        | E-Mail: 
        a.accent.text(href="mailto:tanja.braun@techbase.de") tanja.braun@techbase.de

      h3.accent.text Technische Betreuung
      p Sysgrade GmbH
        br
        | Konrad-Adenauer-Allee 38
        br
        | 93051 Regensburg

      h3.accent.text Fotos
      p www.fotolia.de
        br
        | www.shutterstock.com

  a(name="references")
  section.small.white.block
    .container
      h2.accent.text Verweise und Links
      p Auf 
        a.accent.text(href="http://www.digitale-oberpfalz.de") www.digitale-oberpfalz.de
        |  und auf 
        a.accent.text(href="http://www.hackaburg.de") www.hackaburg.de
        |  befinden sich Verweise ("Hyperlinks") auf andere Seiten im Internet. Auf direkte und indirekte Verweise innerhalb der Unternehmensdatenbank, die von den Unternehmen ("Inserent") selbst verwaltet werden, haben wir keinen Einfluss; erhalten wir Kenntniss von gegen das Recht verstoßende Inhalte auf anderen Webseiten, auf welche ein Inserent verlinkt, werden wir den Inserent umgehend auffordern, den Verweis zu entfernen. Sollte der Inserent daraufhin den Verweis nicht unverzüglich entfernen und sollte es uns technisch möglich sein, werden wir den Verweis selbst entfernen. Wir überprüfen unter Wahrung der Verhältnismäßigkeit der Mittel die sonstigen Verweise zum Zeitpunkt der Verlinkung; auf aktuelle und zukünftige Änderungen der verlinkten Seiten haben wir keinen Einfluss; erhalten wir Kenntniss von gegen das Recht verstoßende Inhalte auf den Verweiszielen, werden wir den Verweis unterlassen.

  a(name="data")
  section.small.white.block
    .container
      h2.accent.text Datenübermittlung und -protokollierung zu systeminternen und statistischen Zwecken
      p Wir erheben und verwenden Ihre personenbezogenen Daten ausschließlich im Rahmen der Bestimmungen des Datenschutzrechts der Bundesrepublik Deutschland. Im folgenden unterrichten wir Sie über Art, Umfang und Zwecke der Erhebung und Verwendung personenbezogener Daten. Sie können diese Unterrichtung jederzeit auf unserer Webseite abrufen.
      p Ihr Internet-Browser übermittelt beim Zugriff auf unsere Webseite aus technischen Gründen automatisch Daten an unseren Webserver. Es handelt sich dabei unter anderem um Datum und Uhrzeit des Zugriffs, URL der verweisenden Webseite, abgerufene Datei, Menge der gesendeten Daten, Browsertyp und -version, Betriebssystem sowie Ihre IP-Adresse. Diese Daten werden getrennt von anderen Daten, die Sie im Rahmen der Nutzung unseres Angebotes eingeben gespeichert. Eine Zuordnung dieser Daten zu einer bestimmten Person ist uns nicht möglich. Diese Daten werden zu statistischen Zwecken ausgewertet und im Anschluss gelöscht.
      p Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. ("Google"). Google Analytics verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Website, wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link (
        a.accent.text(href="http://tools.google.com/dlpage/gaoptout?hl=de") http://tools.google.com/dlpage/gaoptout?hl=de
        | ) verfügbare Browser-Plugin herunterladen und installieren.
      p Sie können die Erfassung durch Google Analytics verhindern, indem Sie auf folgenden Link klicken. Es wird ein Opt-Out-Cookie gesetzt, der die zukünftige Erfassung Ihrer Daten beim Besuch dieser Website verhindert: Google Analytics deaktivieren
      p Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter 
        a.accent.text(href="http://www.google.com/analytics/terms/de.html") http://www.google.com/analytics/terms/de.html
        |  bzw. unter 
        a.accent.text(href="http://www.google.com/intl/de/analytics/privacyoverview.html") http://www.google.com/intl/de/analytics/privacyoverview.html
        | . Wir weisen Sie darauf hin, dass auf dieser Website Google Analytics um den Code "gat._anonymizeIp();" erweitert wurde, um eine anonymisierte Erfassung von IP-Adressen (sog. IP-Masking) zu gewährleisten.
      p Diese Website benutzt Piwik, eine Open-Source-Software zur statistischen Auswertung der Besucherzugriffe. Piwik verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieses Internetangebotes werden auf dem Server des Anbieters in Deutschland gespeichert. Die IP-Adresse wird sofort nach der Verarbeitung und vor deren Speicherung anonymisiert. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich nutzen können. (Quelle: Muster von spreerecht.de)

  a(name="existing-data")
  section.small.white.block
    .container
      h2.accent.text Bestandsdaten
      p Sofern zwischen Ihnen und uns ein Vertragsverhältnis begründet, inhaltlich ausgestaltet oder geändert werden soll, erheben und verwenden wir personenbezogene Daten von Ihnen, soweit dies zu diesen Zwecken erforderlich ist. Auf Anordnung der zuständigen Stellen dürfen wir im Einzelfall Auskunft über diese Daten (Bestandsdaten) erteilen, soweit dies für Zwecke der Strafverfolgung, zur Gefahrenabwehr, zur Erfüllung der gesetzlichen Aufgaben der Verfassungsschutzbehörden oder des Militärischen Abschirmdienstes oder zur Durchsetzung der Rechte am geistigen Eigentum erforderlich ist.

  a(name="usage-data")
  section.small.white.block
    .container
      h2.accent.text Nutzungsdaten
      p Wir erheben und verwenden personenbezogene Daten von Ihnen, soweit dies erforderlich ist, um die Inanspruchnahme unseres Internetangebotes zu ermöglichen oder abzurechnen (Nutzungsdaten). Dazu gehören insbesondere Merkmale zu Ihrer Identifikation und Angaben zu Beginn und Ende sowie des Umfangs der Nutzung unseres Angebotes. Für Zwecke der Werbung, der Marktforschung und zur bedarfsgerechten Gestaltung unseres Internetangebotes dürfen wir bei Verwendung von Pseudonymen Nutzungsprofile erstellen. Sie haben das Recht, dieser Verwendung Ihrer Daten zu widersprechen. Die Nutzungsprofile dürfen wir nicht mit Daten über den Träger des Pseudonyms zusammenführen. Auf Anordnung der zuständigen Stellen dürfen wir im Einzelfall Auskunft über diese Daten (Bestandsdaten) erteilen, soweit dies für Zwecke der Strafverfolgung, zur Gefahrenabwehr, zur Erfüllung der gesetzlichen Aufgaben der Verfassungsschutzbehörden oder des Militärischen Abschirmdienstes oder zur Durchsetzung der Rechte am geistigen Eigentum erforderlich ist.

  a(name="cookies")
  section.small.white.block
    .container
      h2.accent.text Cookies
      p Um den Funktionsumfang unseres Internetangebotes zu erweitern und die Nutzung für Sie komfortabler zu gestalten, verwenden wir so genannte "Cookies". Mit Hilfe dieser "Cookies" können bei dem Aufruf unserer Webseite Daten auf Ihrem Rechner gespeichert werden. Sie haben die Möglichkeit, das Abspeichern von Cookies auf Ihrem Rechner durch entsprechende Einstellungen in Ihrem Browser zu verhindern. Hierdurch könnten allerdings der Funktionsumfang unseres Angebotes eingeschränkt werden.

  a(name="disclosure")
  section.small.white.block
    .container
      h2.accent.text Auskunftsrecht
      p Als Nutzer unseres Internetangebotes haben Sie das Recht, von uns Auskunft über die zu Ihrer Person oder zu Ihrem Pseudonym gespeicherten Daten zu verlangen. Auf Ihr Verlangen kann die Auskunft auch elektronisch erteilt werden.
      
      br
      p Quelle: Rechtsanwalt Kluge, Hannover
      br
      br
      br
