extends ../layout.pug

block content
  section.accent.block
    .container
      .intro
        .title
          h1 hackaburg 2018
        
        .subtitle
          h3 join the adventure hackathon
          h3 TechBase Regensburg | 24. - 27. May 2018

        a.inverted.button(href="#") apply now

  .upwards.right.white.triangle
    .castle.image.container
      img(src="http://placehold.it/275x400")

  section.white.block
    .container
      .about
        .grid
          .row
            .col-50
              img(src="http://placehold.it/960x540")
            
            .col-50
              .accent.section.heading
                .title
                  h2 About
                
                .subtitle
                  h3 What is hackaburg?

              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 

  .downwards.right.white.triangle
  
  section.accent.block
    .tracks
      .container
        .inverted.section.heading
          .title
            h2 Tracks
          
          .subtitle
            h3 How you can change the future

        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
          br
          | Dolore magna aliquyam erat, sed diam voluptua. 
        
        .grid
          .row
            .col-50
              a.track(href="#")
                .title Artificial Intelligence
                img(src="http://placehold.it/960x540")
            .col-50
              a.track(href="#")
                .title Digital Journalism
                img(src="http://placehold.it/960x540")
          .row
            .col-50
              a.track(href="#")
                .title Game Jam
                img(src="http://placehold.it/960x540")
            .col-50
              a.track(href="#")
                .title Bavarian Tec
                img(src="http://placehold.it/960x540")
          .row
            .col-50
              a.track(href="#")
                .title Big Data
                img(src="http://placehold.it/960x540")
            .col-50
              a.track(href="#")
                .title Free Choice
                img(src="http://placehold.it/960x540")
