extends ../layout.pug

block content
  .accent.block
    .container
      .intro
        .title
          h1 hackaburg 2018
        
        .subtitle
          h3 join the adventure hackathon
          h3 TechBase Regensburg | 24. - 27. May 2018

        a.inverted.button(href="#") apply now

  .upwards.right.white.triangle
    img(src="http://placehold.it/275x400")
