extends ../layout.pug

block nav
  .brand
    img(src="assets/images/logo.png")
    .text Hackaburg

  ul
    li
      a(href="#about") About
    li
      a(href="#tracks") Tracks
    li
      a(href="#sponsors") Sponsors
    li
      a(href="#aftermovie") Hackaburg 2018
    li
      a(href="#schedule") Schedule
    li
      a(href="#teaser") Teaser
    li
      a(href="#venue") Venue
    li
      a(href="#faq") FAQ
    //- li
    //-   a(href="#team") Team

  a.mlh-trust-badge(href="https://mlh.io/seasons/eu-2019/events?utm_source=eu-hackathon&utm_medium=TrustBadge&utm_campaign=2019-season&utm_content=gray" target="_blank")
    img(src="https://s3.amazonaws.com/logged-assets/trust-badge/2019/mlh-trust-badge-2019-gray.svg" alt="Major League Hacking 2019 Hackathon Season")

block content
  section.white.header.block
    .container
      .intro
        .title
          h1
            .hi Hello! We are
            | Hackaburg

        .subtitle
          h3 Join the adventure Hackathon
          h3 TechBase Regensburg
            span.date 24. - 25. May 2019

        a.button(href="https://hackaburg.de/apply", target="_blank") Apply Now

        .backers
          a(href="https://www.ratisbona-coding.de", target="_blank")
            img(src="assets/images/ratisbona_coding.png")

          a(href="https://www.digitale-oberpfalz.de", target="_blank")
            img(src="assets/images/dgo.svg")

  a(name="about")
  section.white.block
    .container
      .about
        .accent.section.heading
          .title
            h2 About
          .subtitle
            h3 What is Hackaburg?

          p.tldr Hackaburg is a unique hackathon experience that brings together more than 100 developers, designers and entrepreneurs from around the world.

  a(name="tracks")
  section.white.block
    .tracks
      .container
        .accent.section.heading
          .title
            h2 Tracks

          .subtitle
            h3 How you can change the future

        .grid
          .row
            .col-50
              .track
                .image(style="background-image: url(assets/images/tracks/connected-mobility.jpg);")
                  .title Connected Mobility
                    .sponsor SSV Jahn Regensburg
                .description How can we connect people with the same destination: the local football arena? Find digital and sustainable solutions to connect those people to foster shared mobility.
            .col-50
              .track
                .image(style="background-image: url(assets/images/tracks/hardware-hacking-games.jpg);")
                  .title Hardware Hacking Games
                    .sponsor Infineon
                .description Use the provided hardware to create a new game from scratch!
          .row
            .col-50
              .track
                .image(style="background-image: url(assets/images/tracks/digital-insurance.jpg);")
                  .title Digital Insurance
                    .sponsor Telis Finanz
                .description Create a chatbot that filters the customer input to consult them with services they actually need. Feel free to use whatever platform you like!
            .col-50
              .track
                .image(style="background-image: url(assets/images/tracks/smart-robotics.jpg);")
                  .title Smart Robotics
                    .sponsor Continental
                .description How can you make a robot even smarter? Find solutions for interactions between humans and robots.
          .row
            .col-50
              .track
                .image(style="background-image: url(assets/images/tracks/privacy.jpg);")
                  .title Privacy
                    .sponsor Projekt29
                .description Catch the hidden trackers: find and display them all and create smart solutions that are able to protect web users in the future.
            .col-50
              .track
                .image(style="background-image: url(assets/images/tracks/free-choice.jpg);")
                  .title Free Choice
                    .sponsor Hackaburg
                .description You have an idea that doesn't fit into one of the tracks above? No restrictions are set here, feel free to build what ever you want!

  a(name="sponsors")
  section.white.block
    .sponsors
      .container
        .accent.section.heading
          .title
            h2 Sponsors

          .subtitle
            h3 Our partners

        .centered.text.condensed.grid
          .row
            .col-50
              a.level1.partner(href="https://www.telis-finanz.de", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/telis.png);")
            .col-50
              a.level1.partner(href="https://www.continental-corporation.com", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/continental.jpg);")
          .row
            .col-50
              a.level1.partner(href="https://www.infineon.com", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/infineon.png);")
            .col-50
              a.level1.partner(href="https://www.projekt29.de", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/projekt29.jpg);")

        .centered.text.condensed.grid
          .row
            .col-25
              a.level2.partner(href="https://www.bertrandt.com/", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/bertrandt.png);")
            .col-25
              a.level2.partner(href="https://www.bhs-world.com/", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/bhs.jpg);")
            .col-25
              a.level2.partner(href="https://www.ssv-jahn.de/home/", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/ssv_jahn_regensburg.jpg);")
            .col-25
              a.level2.partner(href="https://www.zollner.de/", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/zollner.jpg);")
          .row
            .col-25
              a.level2.partner(href="https://www.intive.com", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/intive.png);")
            .col-25
              a.level2.partner(href="https://www.internetx.com/", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/internetx.jpg);")
            .col-25
              a.level2.partner(href="http://www.horsch.com/", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/horsch.png);")
            .col-25
              a.level2.partner(href="https://www.team-con.de/", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/tcon.png);")

        .centered.text.condensed.grid
          .row
            .col-25
              a.level3.partner(href="https://www.reinhausen.com", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/mr.jpg);")
            .col-25
              a.level3.partner(href="https://www.witt-gruppe.eu", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/witt.jpg);")
            .col-25
              a.level3.partner(href="https://cipsoft.com/", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/cipsoft.png);")
            .col-25
              a.level3.partner(href="http://hackp.ac/mlh-stickermule-hackathons", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/sticker_mule.jpg);")
          .row
            .col-20
              a.level3.partner(href="https://www.fritz-kola.de/", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/fritzkola.jpg);")
            .col-20
              a.level3.partner(href="https://www.sensorik-bayern.de/", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/sensorik.png);")
            .col-20
              a.level3.partner(href="https://www.knowis.com", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/knowis.jpg);")
            .col-20
              a.level3.partner(href="https://www.dracoon.com/", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/dracoon.jpg);")
            .col-20
              a.level3.partner(href="https://vector.com", target="_blank")
                  .logo(style="background-image: url(assets/images/sponsors/vector.jpg);")


        //- .become.sponsor
        //-   .centered.text
        //-     p Interested in joining Hackaburg?
        //-     a.accent.button(href="mailto:partner@hackaburg.de") Become a partner


  a.downwards.right.white.triangle(name="aftermovie")
  section.white.block
    .media
      video(src="assets/images/video.mp4", loop, autoplay, muted)
      .container
        .description
          .inverted.accent.section.heading
            .title
              h2 Hackaburg 2018

            .subtitle
              h3 What happened last year

          p 120 participants from all over Germany together with 15 Sponsors transformed the facilities of Techbase Regensburg into a home for 20 Teams working on a large variety of projects. The best teams got rewarded with prizes of more than 6.000 € in total value and everyone got new experiences, met new friends and had an enjoyable weekend.

          p
            a.accent.text(href="https://www.youtube.com/watch?v=LVb5gjv5KeE", target="_blank") Watch last year's after movie &raquo;

  a.upwards.left.white.triangle
  a(name="schedule")
  section.white.block
    .schedule
      .container
        .accent.section.heading
          .title
            h2 Schedule
          .subtitle
            h3 When and what

        .timetable
          .hours
            .hour.line 08:00
            .hour.line 10:00
            .hour.line 12:00
            .hour.line 14:00
            .hour.line 16:00
            .hour.line 18:00
            .hour.line 20:00
            .hour.line 22:00

          .days
            .day
              .date Fri, 24.05.2019
              .events.grid
                .row
                  .col-100
                    .blank.event
                      .duration
                        .one.hour

                    .striped.event
                      .duration
                        .one.hour
                      .content
                        .time 09:00 - 10:00
                        .title
                          h4 Registration

                    .gray.event
                      .duration
                        .half.hour
                      .content
                        .time 10:00 - 10:30
                        .title
                          h4 Opening ceremony

                    .gray.event
                      .duration
                        .half.hour
                      .content
                        .time 10:30 - 11:00
                        .title
                          h4 Track presentation

                    .accent.event
                      .duration
                        .half.hour
                      .content
                        .time 11:00 - 11:30
                        .title
                          h4 Idea pitches

                    .gray.event
                      .duration
                        .half.hour
                      .content
                        .time 11:30 - 12:00
                        .title
                          h4 Sponsor pitches

                    .striped.event
                      .duration
                        .one.hour
                      .content
                        .time 12:00 - 13:00
                        .title
                          h4 Lunch

                    .accent.event
                      .duration
                        .one.hour
                        .one.hour
                        .one.hour
                        .one.hour
                        .one.hour
                        .one.hour
                        .one.hour
                        .one.hour
                        .one.hour
                        .half.hour
                      .content
                        .time 13:00 - 24:00
                        .title
                          h4 Hacking

                        .blank.event
                          .duration
                            .one.hour
                            .one.hour
                            .one.hour
                            .one.hour
                            .one.hour
                            .half.hour

                        .row
                          .col-20
                          .col-50
                            .gray.event
                              .duration
                                .one.hour
                                .half.hour
                              .content
                                .time 19:00 - 20:30
                                .title
                                  h4(title="Workshop seats are limited and will be assigned on a first-come-first-served basis.") Workshop
                                    sup
                                      small 1
                          .col-50
                            .gray.event
                              .duration
                                .one.hour
                                .half.hour
                              .content
                                .time 19:00 - 20:30
                                .title
                                  h4(title="Workshop seats are limited and will be assigned on a first-come-first-served basis.") Workshop
                                    sup
                                      small 1

            .day
              .date Sat, 25.05.2019
              .events.grid
                .row
                  .col-100
                    .accent.event
                      .duration
                        .one.hour
                      .content
                        .time 00:00 - 09:00
                        .title
                          h4 Hacking

                    .striped.event
                      .duration
                        .one.hour
                      .content
                        .time 09:00 - 10:00
                        .title
                          h4 Breakfast

                    .accent.event
                      .duration
                        .one.hour
                        .one.hour
                        .one.hour
                      .content
                        .time 10:00 - 13:00
                        .title
                          h4 Hacking
                        p Submit your projects by 13:00.

                    .striped.event
                      .duration
                        .one.hour
                      .content
                        .time 13:00 - 14:00
                        .title
                          h4 Lunch

                    .accent.event
                      .duration
                        .one.hour
                        .half.hour
                      .content
                        .time 14:00 - 15:30
                        .title
                          h4 Pre-judging

                    .row
                      .col-40
                        .gray.event
                          .duration
                            .one.hour
                          .content
                            .time 15:30 - 16:30
                            .title
                              h4 Finalist selection

                        .accent.event
                          .duration
                            .one.hour
                          .content
                            .time 16:30 - 17:30
                            .title
                              h4 Final pitches preparation

                      .col-30
                        .gray.event
                          .duration
                            .one.hour
                            .half.hour
                          .content
                            .time 15:30 - 17:00
                            .title
                              h4(title="Workshop seats are limited and will be assigned on a first-come-first-served basis.") Workshop
                                sup
                                  small 1
                      .col-30
                        .gray.event
                          .duration
                            .one.hour
                            .half.hour
                          .content
                            .time 15:30 - 17:00
                            .title
                              h4(title="Workshop seats are limited and will be assigned on a first-come-first-served basis.") Workshop
                                sup
                                  small 1

                    .blank.event
                      .duration
                        .fifteen.minutes

                    .accent.event
                      .duration
                        .half.hour
                      .content
                        .time 17:45 - 18:15
                        .title
                          h4 Final pitches

                    .blank.event
                      .duration
                        .fifteen.minutes
                        .half.hour

                    .striped.event
                      .duration
                        .one.hour
                        .one.hour
                      .content
                        .time 19:00 - 
                        .title
                          h4 Afterparty

      p.centered.text Our sponsors will have booths throughout the event, so feel free to come by and have a chat!
      br
      p.centered.text
        small
          sup 1
          | Workshop seats are limited and will be assigned on a first-come-first-served basis.


  a(name="teaser")
  section.white.block
    .prices
      .container
        .accent.section.heading
          .title
            h2 Teaser
          .subtitle
            h3
              a.corrupted(href="http://eu-west-1.hackaburg.de/bWF5YmUgdGhpcyB1cmwgY29udGFpbnMgc29tZXRoaW5nLi4K.zip", target="_blank") $ ./hb_initialization64.exe data

        .grid
          .row
            .col-33
              p Hackaburg 2019 has finally started!
              p Stay up to date over our social media channels.
              br
              a.fluid.accent.button(href="https://www.facebook.com/hackaburg") Follow us on Facebook
              br
              br
              a.fluid.accent.button(href="https://www.instagram.com/hackaburg") Follow us on Instagram
            .col-66
              iframe(class="iframe", src="https://www.youtube.com/embed/OqN_HOEJLTA", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen)


  a(name="venue")
  section.white.block
    .venue
      .container
        .accent.section.heading
          .title
            h2 Venue
          .subtitle
            h3 How to get there

        .grid
          .row
            .col-20
              p TechBase Regensburg
              p Franz-Mayer-Straße 1
                br
                | 93053 Regensburg
              br
              a.inverted.button(href="https://www.google.de/maps/dir//TechBase+Regensburg", target="_blank") Directions
            .col-80
              #map

  a(name="faq")
  section.white.block
    .faq
      .container
        .accent.section.heading
          .title
            h2 FAQ
          .subtitle
            h3 Questions and answers

        .grid
          .row
            .col-50
              .question
                .header
                  h4 What exactly is a hackathon?
                .content A hackathon is an event in which software developers, designers and entrepreneurs come together and work on an idea for a few days. The event will be sponsored by companies, that means we have exciting prizes and planned key notes for you! There is also a career fair waiting for you to be checked out and of course free food and drinks.
            .col-50
              .question
                .header
                  h4 Do I have to be a programmer to attend?
                .content NO! We're looking for a diverse group of people who want to work on an idea for a few days. You're a designer? Help create the user interface. You're a business rockstar? Help create a business or customer plan. You want to try coding for the first time? We will have introduction workshops that will give you a first glance about coding.

          .row
            .col-50
              .question
                .header
                  h4 How many people will the hackathon have?
                .content We're planning with 140 attendees, 90% students and 10% professionals! Just apply here!
            .col-50
              .question
                  .header
                    h4 What about hardware?
                  .content We’ll have a hardware lounge with plenty of boards, tools, and gadgets for you to check out!


          .row
            .col-50
              .question
                .header
                  h4 What can I build?
                .content Anything your heart desires! Hardware, web, mobile, gaming; you name it, we’ll support it.
            .col-50
              .question
                .header
                  h4 Headstart?
                .content Only projects started at the hackathon will be eligible for prizes.

          .row
            .col-50
              .question
                .header
                  h4 How do I find a team?
                .content A team has to be smaller than 5 people. On the first day, we will have a short pitch event. That means, you can come with an idea and tell everyone what you're looking for or you get inspired by other people. Maximum team size is 5 but of course you also can work in projects on smaller teams, there is no minimum size.
            .col-50
              .question
                .header
                  h4 What should I bring to the event?
                .content Your computer (laptop or desktop), any electronics want to use, chargers, toiletries and a sleeping bag or blanket and pillow if you're planning to stay over night and we hope you will! And of course, your student ID.

          .row
            .col-50
              .question
                .header
                  h4 Overnight Stay?
                .content Sure! We'll have a sleeping room available with 20 campbeds.
            .col-50
              .question
                .header
                  h4 Will there be travel reimbursements available?
                .content Yes! If you're coming from outside the Oberpfalz, it's possible to apply for reimbursement to cover some of your travel expenses. This also includes an overnight stay from Saturday to Sunday if you can't reasonably get home after the event. Depending on where you come from, the reimbursement can be up to:</p>
                  ul
                    li Bavaria (outside of the Oberpfalz): 25€
                    li Germany: 40€
                    li Rest of Europe (SEPA area): 75€
                .content
                  b Important note: 
                  | We can only transfer money in the SEPA area! Thus, be ready to provide your travel receipts and bank address.

                .content Got more questions about our travel reimbursement process? Ping us your questions to 
                  a(class="accent text", href="mailto:applications@hackaburg.de") applications@hackaburg.de
                  |  and we'll look into it.

  //- a(name="hardware")

  //- section.white.block
  //-   .faq
  //-     .container
  //-       .accent.section.heading
  //-         .title
  //-           h2 Hardware
  //-         .subtitle
  //-           h3 You need it? We have it!

  //-       .grid
  //-         .row
  //-           .col-20
  //-             .device
  //-               .image
  //-                 img(src="http://placehold.it/300x500")
  //-               .bubble 2


  //-           img(src="assets/images/hardware.jpg")
  //-         .centered.text
  //-           a.accent.button(href="https://docs.google.com/spreadsheets/d/1EjpvBarvlzSfZeel_dNAipzqGFRiBV3Q9WchPpg8XJ0/edit?usp=sharing") Conrad Electronic's Hardware List
  //-         .centered.text
  //-           a.accent.marginTop1.button(href="https://docs.google.com/presentation/d/1xuf9xucnWyAuPmr-SwNnWhc9ByWBK_dOXXVU3PsH4aA/edit?usp=sharing") MLH's Hardware Lab

  //- a(name="jury")
  //- section.white.block
  //-   .faq
  //-     .container
  //-       .accent.section.heading
  //-         .title
  //-           h2 Jury
  //-         .subtitle
  //-           h3 You have it? We judge it

  //-       .grid
  //-         .row
  //-           img(src="assets/images/jury.jpg")



  //- a(name="team")
  //- section.white.block
  //-   .team
  //-     .container
  //-       .accent.section.heading
  //-         .title
  //-           h2 Team
  //-         .subtitle
  //-           h3 The people behind hackaburg

  //-       .grid
  //-         .row
  //-           .col-25
  //-             .person
  //-               .image
  //-                 img(src="assets/images/member/img_1.jpg")
  //-               .name Markus Guder
  //-               .task Main Organizer Program
  //-           .col-25
  //-             .person
  //-               .image
  //-                 img(src="assets/images/member/img_2.jpg")
  //-               .name Max Pöschl
  //-               .task Founder
  //-           .col-25
  //-             .person
  //-               .image
  //-                 img(src="assets/images/member/img_13.jpg")
  //-               .name Martin Dörndorfer
  //-               .task Main Organizer DGO
  //-           .col-25
  //-             .person
  //-               .image
  //-                 img(src="assets/images/member/img_14.jpg")
  //-               .name Tanja Braun
  //-               .task Media Coordinator DGO
  //-         .row
  //-           .col-25
  //-             .person
  //-               .image
  //-                 img(src="assets/images/member/img_4.jpg")
  //-               .name Michelle Neun
  //-               .task Social Media Coordinator
  //-           .col-25
  //-             .person
  //-               .image
  //-                 img(src="assets/images/member/img_6.jpg")
  //-               .name Konstantin Seitz
  //-               .task Social Media Coordinator
  //-           .col-25
  //-             .person
  //-               .image
  //-                 img(src="assets/images/member/img_3.jpg")
  //-               .name Michael Neu
  //-               .task Technical Master Mind
  //-           .col-25
  //-             .person
  //-               .image
  //-                 img(src="assets/images/member/img_5.jpg")
  //-               .name Felix Kopp
  //-               .task Print
  //-         .row
  //-           .col-25
  //-             .person
  //-               .image
  //-                 img(src="assets/images/member/img_7.jpg")
  //-               .name Stefan Grebler
  //-               .task Print
  //-           .col-25
  //-             .person
  //-               .image
  //-                 img(src="assets/images/member/img_11.jpg")
  //-               .name Alina Edelmann
  //-               .task Application Management
  //-           .col-25
  //-             .person
  //-               .image
  //-                 img(src="assets/images/member/img_9.jpg")
  //-               .name Felix Sellmair
  //-               .task Application Management
  //-           .col-25
  //-             .person
  //-               .image
  //-                 img(src="assets/images/member/img_10.jpg")
  //-               .name Bastian Lange
  //-               .task Application Management
  //-         .row
  //-           .col-25
  //-             .person
  //-               .image
  //-                 img(src="assets/images/member/img_8.jpg")
  //-               .name Alexander Frummet
  //-               .task Application Management
  //-           .col-25
  //-             .person
  //-               .image
  //-                 img(src="assets/images/member/img_12.jpg")
  //-               .name Nadine Schuller
  //-               .task Application Management

  script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN9OfnCw7Q1XPaQ_hNRg7ccNPHO43_6qU&sensor=true")
