extends ../layout.pug

block nav
  ul
    li
      a(href="#") About
    li
      a(href="#") Tracks
    li
      a(href="#") Sponsors
    li
      a(href="#") Hackaburg 2017
    li
      a(href="#") Schedule
    li
      a(href="#") Prices
    li
      a(href="#") Venue
    li
      a(href="#") FAQ
    li
      a(href="#") Team

block content
  section.accent.block
    .container
      .intro
        .title
          h1 hackaburg 2018
        
        .subtitle
          h3 join the adventure hackathon
          h3 TechBase Regensburg | 24. - 27. May 2018

        a.inverted.button(href="#") apply now

  .upwards.right.white.triangle
    .castle.image.container
      img(src="assets/images/hackaburg.png")

  section.white.block
    .container
      .about
        .grid
          .row
            .col-50
              img(src="http://placehold.it/960x540")
            
            .col-50
              .accent.section.heading
                .title
                  h2 About
                
                .subtitle
                  h3 What is hackaburg?

              p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 

  .downwards.right.white.triangle
  
  section.accent.block
    .tracks
      .container
        .inverted.section.heading
          .title
            h2 Tracks
          
          .subtitle
            h3 How you can change the future

        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
          br
          | Dolore magna aliquyam erat, sed diam voluptua. 
        
        .grid
          .row
            .col-50
              a.track(href="#")
                .title Artificial Intelligence
                img(src="http://placehold.it/960x540")
            .col-50
              a.track(href="#")
                .title Digital Journalism
                img(src="http://placehold.it/960x540")
          .row
            .col-50
              a.track(href="#")
                .title Game Jam
                img(src="http://placehold.it/960x540")
            .col-50
              a.track(href="#")
                .title Bavarian Tec
                img(src="http://placehold.it/960x540")
          .row
            .col-50
              a.track(href="#")
                .title Big Data
                img(src="http://placehold.it/960x540")
            .col-50
              a.track(href="#")
                .title Free Choice
                img(src="http://placehold.it/960x540")

  .upwards.left.white.triangle
    .rocket.image.container
      img(src="assets/images/moon-landing.png")

  section.white.block
    .sponsors
      .container
        .accent.section.heading
          .title
            h2 Sponsors

          .subtitle
            h3 Partner with us

        .centered.text.grid
          .row
            .col-100
              .level1.partner Partner

          .row
            .right.aligned.text.col-33
              .level2.partner Partner
            .col-33
              .level2.partner Partner
            .left.aligned.text.col-33
              .level2.partner Partner

          .row
            .col-25
              .level3.partner Partner
            .col-25
              .level3.partner Partner
            .col-25
              .level3.partner Partner
            .col-25
              .level3.partner Partner

          .row
            .left.aligned.text.col-20
              .level4.partner Partner
            .left.aligned.text.col-20
              .level4.partner Partner
            .col-20
              .level4.partner Partner
            .right.aligned.text.col-20
              .level4.partner Partner
            .right.aligned.text.col-20
              .level4.partner Partner

        .become.sponsor
          .centered.text
            p Interested in joining Hackaburg? 
            a.accent.button(href="#") Become a partner


  .downwards.right.white.triangle

  section.accent.block
    .media
      video(src="assets/images/video.mp4", loop, autoplay, muted)
      .container
        .description
          .inverted.accent.section.heading
            .title
              h2 Hackaburg 2017
            
            .subtitle
              h3 What happened last year
          
          p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
            br
            | Dolore magna aliquyam erat, sed diam voluptua. 
          
          p
            a.accent.text(href="#", target="_blank") Watch last year's after movie &raquo;

  .upwards.left.accent.triangle

  section.accent.block
    .schedule
      .container
        .inverted.section.heading
          .title
            h2 Schedule
          .subtitle
            h3 When and what

        .timetable.grid
          .row
            .day.col-25
              .date Thu, 24.05.2017
              .events
                .accent.event
                  .title
                    h4 Registration
                  .time 1pm - 3pm

                .white.event
                  .title
                    h4 Registration
                  .time 1pm - 3pm

                .gray.event
                  .title
                    h4 Registration
                  .time 1pm - 3pm
            .day.col-25
              .date Fri, 25.05.2017
              .events
                .accent.event
                  .title
                    h4 Registration
                  .time 1pm - 3pm

                .white.event
                  .title
                    h4 Registration
                  .time 1pm - 3pm
            .day.col-25
              .date Sat, 26.05.2017
              .events
                .accent.event
                  .title
                    h4 Registration
                  .time 1pm - 3pm

                .white.event
                  .title
                    h4 Registration
                  .time 1pm - 3pm

                .gray.event
                  .title
                    h4 Registration
                  .time 1pm - 3pm
            .day.col-25
              .date Sun, 27.05.2017
              .events
                .accent.event
                  .title
                    h4 Registration
                  .time 1pm - 3pm

                .white.event
                  .title
                    h4 Registration
                  .time 1pm - 3pm

                .gray.event
                  .title
                    h4 Registration
                  .time 1pm - 3pm

  .downwards.right.accent.triangle

  section.white.block
    .prices
      .container
        .accent.section.heading
          .title
            h2 Prices
          .subtitle
            h3 Awesome projects get awesome stuff

  .downwards.right.white.triangle

  section.accent.block
    .venue
      .container
        .inverted.section.heading
          .title
            h2 Venue
          .subtitle
            h3 How to get there
        
        img(src="http://placehold.it/960x540")

  .upwards.right.white.triangle

  section.white.block
    .faq
      .container
        .accent.section.heading
          .title
            h2 FAQ
          .subtitle
            h3 Questions and answers

        .grid
          .row
            .col-50
              .question
                .header
                  h4 Question 1
                .content Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
              
              .question
                .header
                  h4 Question 2
                .content Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.

            .col-50
              .question
                .header
                  h4 Question 3
                .content Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
              
              .question
                .header
                  h4 Question 4
                .content Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.

        br
        p Missing something? Feel free to ping us at 
          a.accent.text(href="mailto:questions@hackaburg.de") questions@hackaburg.de

  .downwards.right.white.triangle

  section.accent.block
    .team
      .container
        .inverted.section.heading
          .title
            h2 Team
          .subtitle
            h3 The people behind hackaburg
        
        .grid
          .row
            .col-25
              .person
                .image
                  img(src="http://placehold.it/256x256")
                .name Person's Name
                .task Something
            .col-25
              .person
                .image
                  img(src="http://placehold.it/256x256")
                .name Person's Name
                .task Something
            .col-25
              .person
                .image
                  img(src="http://placehold.it/256x256")
                .name Person's Name
                .task Something
            .col-25
              .person
                .image
                  img(src="http://placehold.it/256x256")
                .name Person's Name
                .task Something
          .row
            .col-25
              .person
                .image
                  img(src="http://placehold.it/256x256")
                .name Person's Name
                .task Something
            .col-25
              .person
                .image
                  img(src="http://placehold.it/256x256")
                .name Person's Name
                .task Something
            .col-25
              .person
                .image
                  img(src="http://placehold.it/256x256")
                .name Person's Name
                .task Something
            .col-25
              .person
                .image
                  img(src="http://placehold.it/256x256")
                .name Person's Name
                .task Something
