extends ../layout.pug

block nav
  .brand
    img(src="assets/images/logo-white.png")
    .text Hackaburg

  ul
    li
      a(href="#about") About
    li
      a(href="#tracks") Tracks
    li
      a(href="#sponsors") Sponsors
    li
      a(href="#hackaburg-2017") Hackaburg 2017
    li
      a(href="#schedule") Schedule
    li
      a(href="#teaser2018") Teaser 2018
    li
      a(href="#venue") Venue
    li
      a(href="#faq") FAQ
    li
      a(href="#team") Team

block content
  section.accent.block
    .container
      .intro
        .title
          h1 hackaburg 2018

        .subtitle
          h3 join the adventure hackathon
          h3 TechBase Regensburg
            span.date 25. - 27. May 2018

        .backers
          a(href="https://www.digitale-oberpfalz.de", target="_blank")
            img(src="assets/images/dgo.svg")

          a(href="http://www.mittelbayerische.de", target="_blank")
            img(src="assets/images/mz.svg")
        
        a.inverted.button(href="https://www.facebook.com/hackaburg") Stay up to date

        .subtitle
          h5 * The application starts at the end of february 2018

  a.upwards.right.white.triangle(name="about")
    .castle.image.container
      img.floating(src="assets/images/hackaburg.svg")

  section.white.block
    .container
      .about
        .accent.section.heading 
          .title
            h2 About

        .subtitle
          h3 What is hackaburg?
          p.tldr Hackaburg is a meeting point* for over 100 developers, designers, and enterpreneurs from around the world.
          p * of 21 nationalities to be exact and a hackathon experience like no other.

  a.downwards.right.white.triangle(name="tracks")

  section.accent.block
    .tracks
      .container
        .inverted.section.heading
          .title
            h2 Tracks

          .subtitle
            h3 How you can change the future

        p The new tracks introduced this year offer you the possibility to challenge in the category of interest. 
          br 
          | The tracks listed below are provisional. We hope for your feedback, to make the individual topics interesting for you.

        .grid
          .row
            .col-50
              a.track
                .title Artificial Intelligence
                img(src="assets/images/tracks/track_5.jpg")
            .col-50
              a.track
                .title Digital Journalism
                img(src="assets/images/tracks/track_2.jpg")
          .row
            .col-50
              a.track
                .title AR + VR
                img(src="assets/images/tracks/track_4.jpg")
            .col-50
              a.track
                .title Bavarian Tec
                img(src="assets/images/tracks/track_3.jpg")
          .row
            .col-50
              a.track
                .title Big Data
                img(src="assets/images/tracks/track_1.jpg")
            .col-50
              a.track
                .title Free Choice
                img(src="assets/images/tracks/track_6.jpg")


  a.upwards.left.white.triangle(name="sponsors")
    //- .rocket.image.container
    //-   img(src="assets/images/moon-landing.png")

  section.white.block
    .sponsors
      .container
        .accent.section.heading
          .title
            h2 Sponsors

          .subtitle
            h3 Partner with us

        .centered.text.condensed.grid
          .row
            .col-100
              .level1.partner

          .row
            .right.aligned.text.col-33
              .level2.partner
                a(href="https://www.syskron.com/", target="_blank")
                  img(src="assets/images/sponsors/syskron.jpg")
            .col-33
              .level2.partner
                a(href="https://www.intive.com", target="_blank")
                  img.scaled(src="assets/images/sponsors/intive.jpg")
            .left.aligned.text.col-33
              .level2.partner

          .row
            .col-25
              .level3.partner
                a(href="https://www.braincourt.com", target="_blank")
                  img(src="assets/images/sponsors/braincourt.jpg")
            .col-25
              .level3.partner
                a(href="http://biopark-regensburg.de/", target="_blank")
                  img(src="assets/images/sponsors/biopark.jpg")
            .col-25
              .level3.partner
                a(href="https://www.witt-gruppe.eu", target="_blank")
                  img(src="assets/images/sponsors/witt.jpg")
            .col-25
              .level3.partner
                a(href="https://vector.com", target="_blank")
                  img(src="assets/images/sponsors/vector.jpg")

          .row
            .left.aligned.text.col-20
              .level4.partner
                a(href="http://www.horsch.com/", target="_blank")
                  img(src="assets/images/sponsors/horsch.jpg")
            .left.aligned.text.col-20
              .level4.partner
            .col-20
              .level4.partner
            .right.aligned.text.col-20
              .level4.partner
            .right.aligned.text.col-20
              .level4.partner

        .become.sponsor
          .centered.text
            p Interested in joining Hackaburg? 
            a.accent.button(href="mailto:partner@hackaburg.de") Become a partner


  a.downwards.right.white.triangle(name="hackaburg-2017")

  section.accent.block
    .media
      video(src="assets/images/video.mp4", loop, autoplay, muted)
      .container
        .description
          .inverted.accent.section.heading
            .title
              h2 Hackaburg 2017

            .subtitle
              h3 What happened last year

          p 120 participants from all over Germany together with 15 Sponsors transformed the facilities of OTH Regensburg into a home for 20 Teams working on a large variety of projects. The best teams got rewarded with prizes of more than 6.000 € in total value and everyone got new experiences, met new friends and had an enjoyable weekend.

          p
            a.accent.text(href="https://www.youtube.com/watch?v=pRULo5j4gZo", target="_blank") Watch last year's after movie &raquo;

  a.upwards.left.accent.triangle(name="schedule")

  section.accent.block
    .schedule
      .container
        .inverted.section.heading
          .title
            h2 Schedule
          .subtitle
            h3 When and what

        .timetable.grid
          .row
            .day.col-33
              .date Fri, 25.05.2017
              .events
                .accent.event
                  .title
                    h4 Registration
                  .time 3pm - 4pm

                .gray.event
                  .title
                    h4 Keynotes
                  .time 4pm - 5.30pm

                .gray.event
                  .title
                    h4 Idea Pitches
                  .time 5.30pm - 6pm

                .white.event
                  .title
                    h4 Dinner
                  .time 6pm - 7.15pm

                .gray.event
                  .title
                    h4 “3, 2, 1… HACK!”
                  .time 7.15pm - 
            .day.col-33
              .date Sat, 26.05.2017
              .events
                .accent.event
                  .title
                    h4 Workshops
                  .time 10am - 12pm

                .white.event
                  .title
                    h4 Lunch
                  .time 1pm - 3pm

                .accent.event
                  .title
                    h4 Workshops
                  .time 1pm -

                .accent.event
                  .title
                    h4 Career fair 
                  .time 1pm - 5pm

                .white.event
                  .title
                    h4 Dinner
                  .time 6pm - 7.30pm
            .day.col-33
              .date Sun, 27.05.2017
              .events
                .accent.event
                  .title
                    h4 Hacking continues …
                  .time 0am - 2pm

                .white.event
                  .title
                    h4 Lunch
                  .time 12am - 1pm

                .accent.event
                  .title
                    h4 Hand in your projects
                  .time 1pm - 2pm

                .black.event
                  .title
                    h4 Hacking closes
                  .time 2pm

                .gray.event
                  .title
                    h4 Final Pitches
                  .time 2.15pm - 4.15pm

                .gray.event
                  .title
                    h4 Jury will chose the winner
                  .time 4.15pm - 4.45pm 

                .gray.event
                  .title
                    h4 Winner will be announced
                  .time 4.45pm - 5.15pm

                .accent.event
                  .title
                    h4 Hackathon ends
                  .time 5.15pm

  a.downwards.right.accent.triangle(name="teaser2018")

  section.white.block
    .prices
      .container
        .accent.section.heading
          .title
            h2 Teaser 2018
          .subtitle
            h3
              a.corrupted(href="http://eu-west-1.hackaburg.de/bWF5YmUgdGhpcyB1cmwgY29udGFpbnMgc29tZXRoaW5nLi4K.zip", target="_blank") $ ./hb_initialization64.exe data
      
        .grid
          .row
            .col-33
              p Hackaburg 2018 has finally started!
              p Stay up to date over our social media channels.
              br
              a.fluid.accent.button(href="https://www.facebook.com/hackaburg") Follow us on Facebook
              br
              br
              a.fluid.accent.button(href="https://www.instagram.com/hackaburg") Follow uns on Instagram
            .col-66
              iframe(class="iframe", src="https://www.youtube.com/embed/VeSWKffbPpI", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen)


  a.downwards.right.white.triangle(name="venue")

  section.accent.block
    .venue
      .container
        .inverted.section.heading
          .title
            h2 Venue
          .subtitle
            h3 How to get there

        .grid
          .row
            .col-20
              p TechBase Regensburg
              p Franz-Mayer-Straße 1
                br
                | 93053 Regensburg
              br
              a.inverted.button(href="https://www.google.de/maps/dir//TechBase+Regensburg", target="_blank") Directions
            .col-80
              #map

  a.upwards.right.white.triangle(name="faq")

  section.white.block
    .faq
      .container
        .accent.section.heading
          .title
            h2 FAQ
          .subtitle
            h3 Questions and answers

        .grid
          .row
            .col-50
              .question
                .header
                  h4 What exactly is a hackathon?
                img(src="assets/images/faq/what_is_a_hackathon.png")
                .content A hackathon is an event in which software developers, designers and entrepreneurs come together and work on an idea for a few days. The event will be sponsored by companies, that means we have exciting prizes and planned key notes for you! There is also a career fair waiting for you to be checked out and of course free food and drinks.

              .question
                .header
                  h4 How many people will the hackathon have?
                img(src="assets/images/faq/how_many_people.png")
                .content We're planning with 140 attendees, 90% students and 10% professionals! Just apply here!

              .question
                .header
                  h4 What can I build?
                img(src="assets/images/faq/dev_devices.png")
                .content Anything your heart desires! Hardware, web, mobile, gaming; you name it, we’ll support it.

              .question
                .header
                  h4 How do I find a team?
                img(src="assets/images/faq/find_team.png")
                .content A team has to be smaller than 5 people. On the first day, we will have a short pitch event. That means, you can come with an idea and tell everyone what you're looking for or you get inspired by other people. Maximum team size is 5 but of course you also can work in projects on smaller teams, there is no minimum size.

              .question
                .header
                  h4 Overnight Stay?
                img(src="assets/images/faq/overnight_stay.png")
                .content Sure! We'll have a sleeping room available with 20 campbeds for EVERY NIGHT!

            .col-50
              .question
                .header
                  h4 Do I have to be a programmer to attend?
                img(src="assets/images/faq/programmer_to_attend.png")
                .content NO! We're looking for a diverse group of people who want to work on an idea for a few days. You're a designer? Help create the user interface. You're a business rockstar? Help create a business or customer plan. You want to try coding for the first time? We will have introduction workshops that will give you a first glance about coding.

              .question
                .header
                  h4 What about hardware?
                img(src="assets/images/faq/what_about_hardware.png")
                .content We’ll have a hardware lounge with plenty of boards, tools, and gadgets for you to check out!

              .question
                .header
                  h4 Headstart?
                img(src="assets/images/faq/headstart.png")
                .content Only projects started at the hackathon will be eligible for prizes.

              .question
                .header
                  h4 What should I bring to the event?
                img(src="assets/images/faq/what_should_i_bring.png")
                .content Your computer (laptop or desktop), any electronics want to use, chargers, toiletries and a sleeping bag or blanket and pillow if you're planning to stay over night and we hope you will! And of course, your student ID.

        br
        //-p Missing something? Feel free to ping us at 
          a.accent.text(href="mailto:questions@hackaburg.de") questions@hackaburg.de

  a.downwards.right.white.triangle(name="team")

  section.accent.block
    .team
      .container
        .inverted.section.heading
          .title
            h2 Team
          .subtitle
            h3 The people behind hackaburg

        .grid
          .row
            .col-25
              .person
                .image
                  img(src="assets/images/member/img_1.jpg")
                .name Markus Guder 
                .task Main Organizer Program
            .col-25
              .person
                .image
                  img(src="assets/images/member/img_2.jpg")
                .name Max Pöschl
                .task Founder
            .col-25
              .person
                .image
                  img(src="assets/images/member/img_13.jpg")
                .name Martin Dörndorfer
                .task Main Organizer DGO
            .col-25
              .person
                .image
                  img(src="assets/images/member/img_14.jpg")
                .name Tanja Braun
                .task Media Coordinator DGO
          .row
            .col-25
              .person
                .image
                  img(src="assets/images/member/img_4.jpg")
                .name Michelle Neun
                .task Social Media Coordinator
            .col-25
              .person
                .image
                  img(src="assets/images/member/img_6.jpg")
                .name Konstantin Seitz
                .task Social Media Coordinator
            .col-25
              .person
                .image
                  img(src="assets/images/member/img_3.jpg")
                .name Michael Neu
                .task Technical Master Mind
            .col-25
              .person
                .image
                  img(src="assets/images/member/img_5.jpg")
                .name Felix Kopp
                .task Print
          .row
            .col-25
              .person
                .image
                  img(src="assets/images/member/img_7.jpg")
                .name Stefan Grebler
                .task Print
            .col-25
              .person
                .image
                  img(src="assets/images/member/img_11.jpg")
                .name Alina Edelmann
                .task Application Management
            .col-25
              .person
                .image
                  img(src="assets/images/member/img_9.jpg")
                .name Felix Sellmair
                .task Application Management
            .col-25
              .person
                .image
                  img(src="assets/images/member/img_10.jpg")
                .name Bastian Lange
                .task Application Management
          .row
            .col-25
              .person
                .image
                  img(src="assets/images/member/img_8.jpg")
                .name Alexander Frummet
                .task Application Management
            .col-25
              .person
                .image
                  img(src="assets/images/member/img_12.jpg")
                .name Nadine Schuller
                .task Application Management
                

  script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN9OfnCw7Q1XPaQ_hNRg7ccNPHO43_6qU&sensor=true")
