extends ../base.pug

block body
  .register.page
    .condensed.grid
      .row
        .col-60.centering.parent.accent.block
          .centered.child
            .description
              h1 HACKABURG
              h2 HACKATHON

              h3 25.05. - 27.05.2018
                br
                | TechBase Regensburg

              p Hackaburg is a meeting point for over 100 developers, designers, and enterpreneurs from around the world.

              a.inverted.punched-out.button(href="index.html") Learn more

        .leftwards.lower.white.triangle
          img.floating(src="assets/images/hackaburg.svg")

        .col-40.centering.parent.white.block
          .centered.child
            .signup.form
              .hidden.error.message#error

              label Email
              input#email(type="email", placeholder="foo@bar.edu")

              label Password
              input#password(type="password", placeholder="Password (at least 6 characters)")

              button.accent.button#submit Register

              p.centered.text Already have an account? 
                a.accent.text(href="apply") Login
            
            .hidden.success.message#success
              p We just sent you an email, please check your mailbox to complete your application.
