extends ../layout.pug

block nav
  .brand
    img(src="assets/images/logo.png")
    .text Hackaburg

  ul
    li
      a(href="#about") About
    li
      a(href="#tracks") Tracks
    li
      a(href="#sponsors") Sponsors
    li
      a(href="#aftermovie") Hackaburg 2018
    li
      a(href="#schedule") Schedule
    li
      a(href="#teaser") Teaser
    li
      a(href="#venue") Venue
    li
      a(href="#faq") FAQ


block content
  section.white.stammtisch.block
    .container
      .intro
        .accent.text.countdown Hackaburg
        h1 Stammtisch

      .grid
        .row
          .col-50
            p.stammtisch-font Wir würden gerne die IT Szene in Regensburg besser miteinander verknüpfen. Wir das sind die Leute, die auch den Hackaburg Hackathon in Regensburg organisieren. Aktuell ist geplant, dass wir uns einmal im Monat treffen und gemütlich bei einem Getränk (oder auch zwei), über ein spezifisches technisches Thema sprechen. Themenvorschläge sind immer gerne gesehen!
            a.accent.button(href="https://www.instagram.com/hackaburgstammtisch") Folge uns auf Instagram
            br
            br
            a.accent.button(href="https://www.meetup.com/hackaburgstammtisch") Verpasse nichts
            br
            br
            a.accent.button(href="mailto:stammtisch@ratisbona-coding.org") Fragen?!


  script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN9OfnCw7Q1XPaQ_hNRg7ccNPHO43_6qU&sensor=true")
