extends ../layout.pug

block nav
  include ../components/back-to-home.pug
  
  ul
    li
      a(href="#digital-journalism") Digital Journalism
    li
      a(href="#security") Security
    li
      a(href="#smart-society") Smart Society
    li
      a(href="#e-health") E-Health
    li
      a(href="#free-choice") Free Choice
    li
      a(href="#challenges") Challenges

block content
  section.accent.block
    .container
      br
      h1 Tracks
      br
      p The new tracks introduced this year offer you the possibility to challenge in the category of interest.
        br
        | The tracks listed below are provisional. We hope for your feedback, to make the individual topics interesting for you.
      br
      br

    a(name="digital-journalism")
    .track-details.container.small.block
      .grid
        .row
          .col-50
            .track(style="background-image: url(assets/images/tracks/digital-journalism.jpg);")
              .title Digital Journalism
          .col-50
            .inverted.section.heading
                .title
                  h2 Track 1
                .subtitle
                  h3 Digital Journalism

            p The future of journalism is digital. But what does that mean for you as an attendee of hackaburg? Digital journalism is a contemporary form of journalism, in which isnews and features on current affairs, are presented solely or in combination with text, audio, video, or any other interactive form. It’s completely up to you, in which format you provide news or interesting information to the user. Think out of the box and try to develop new ways of  digital journalism.

    a(name="security")
    .track-details.container.small.block
      .grid
        .row
          .col-50
            .track(style="background-image: url(assets/images/tracks/security.jpg);")
              .title Security
          .col-50
            .inverted.section.heading
                .title
                  h2 Track 2
                .subtitle
                  h3 Security

            p Pretty short story. We all know that 2017 and 2018 the topic blockchain exploded. Everyone is talking about crypto currencies, smart-contracts and systems such as Ethereum. Be creative! All those technologies provide a huge potential to secure and simplify tasks on the web.
  
    a(name="smart-society")
    .track-details.container.small.block
      .grid
        .row
          .col-50
            .track(style="background-image: url(assets/images/tracks/smart-society.jpg);")
              .title Smart Society
          .col-50
            .inverted.section.heading
                .title
                  h2 Track 3
                .subtitle
                  h3 Smart Society

            p The concept of a smart society integrates information and communication technology, and various physical devices connected to the network (the Internet of things or IoT) to optimize the efficiency of cities for example in general. But what really makes a building, a city or an building intelligent? How do you track efficiency, or your energy consumption to improve your environmental footprint? How would you use lighting systems to boost human comfort, mood and productivity? If you want to improve the working and living environments of people around you, then this track is for you!
  
    a(name="e-health")
    .track-details.container.small.block
      .grid
        .row
          .col-50
            .track(style="background-image: url(assets/images/tracks/e-health.jpg);")
              .title E-Health
          .col-50
            .inverted.section.heading
                .title
                  h2 Track 4
                .subtitle
                  h3 E-Health

            p Two things in life are certain: death and taxes. We can’t fix the latter, but recent technological advances have been pushing the former back by decades. How can we track our bodies to be healthier? How should we move and eat? Is biohacking or biotech the answer to our big questions about our health? If you’re interested in tracking and medical devices, biotech, augmentation and other solutions to amp up the future of Healthtech, apply now!

    a(name="free-choice")
    .track-details.container.small.block
      .grid
        .row
          .col-50
            .track(style="background-image: url(assets/images/tracks/free-choice.jpg);")
              .title Free Choice
          .col-50
            .inverted.section.heading
                .title
                  h2 Track 5
                .subtitle
                  h3 Free Choice

            p You have an idea that does not fit into one of the tracks we provide? That is absolutely no problem. The free choice track gives you the opportunity to hand every think you want. No restrictions are set here! Feel free to do what ever you want.

  a.downwards.right.accent.triangle(name="challenges")
  section.white.block
    .challenges.container
      .accent.section.heading
        .title
          h2 NEW
        .subtitle
          h3 Partner Challenges

      .grid
        a(name="challenge-dracoon")
        .challenge.row
          .col-33
            img(src="assets/images/sponsors/dracoon.jpg")
          .col-66
            h2.accent.text Dracoon
            p The increasing number of digital documents in companies requires a good document management system. However, finding a specific document in a well-organized file store can still be tedious and time-consuming for employees. Despite the search function searching is often inconclusive because the document wasn’t provided with relevant annotations during the upload. Due to the fact that manual tagging of documents is an exhausting process for all users we want to find a way to automate this process.
            p Join our team. Let us create an intelligent application using machine-learning to makes manual tagging unnecessary.
            p We offer you a free DRACCON with tagged documents. You can start right away. It’s up to you.

            .grid
              .row
                .col-50
                  h3.accent.text What we'll bring
                  ul
                    li Free DRACOON with tagged documents
                    li API and SDKs
                    li Documentation with Swagger UI
                    li Experienced DRACOON developer
                .col-50
                  h3.accent.text What's important to us
                  ul
                    li Fun hacking
                    li Originality
                    li Creativity
                    li User Experience, Usability
                    li Added value for customers and companies
                    li Impact and Utility

        a(name="challenge-vector")
        .challenge.row
          .col-33
            img(src="assets/images/sponsors/vector.jpg")
          .col-66
            h2.accent.text Vector
            p There is no problem, just lots of creative ideas, what you can do with Alexa (1:10 model car equipped with *):
            p Alexa is a playground for the development of autonomous driving systems, rescue robots or just IoT applications with easy expandability with RaspberryPi or something else. 
            p Language: python, C, java, or what you prefer.
            p Possible projects:
            ul
              li Parking Assistant
              li IoT Controlling via Webserver
              li Rescue robot systems
              li Drifting AI
              li SLAM
            br
            p You are also invited to become creative yourself and to implement something, whatever YOU find exciting.

            .grid
              .row
                .col-50
                  h3.accent.text What we'll bring
                  ul
                    li Philipp as experts
                    li What our Alexa brings:
                    ul
                      li For programming beginners but hardware enthusiasts:
                      li 6 x Arduino Micros
                      ul
                        li Compass
                        li RGB Rear Cam
                        li Front Depth Cam Intel RealSense R200
                        li 10x Ultrasonic around the car
                        li Gyroscope
                        li Accelerometer
                        li Wheelspeed sensor
                        li Remote Control Receiver
                      li For linux enthusiasts:
                      ul
                        li 1x Nvidia Jetson TX1 with Linux for Tegra R28.2
                        li CPU: Quad ARM® A57
                        li RAM: 4 GB
                        li GPU: NVIDIA Maxwell, 256 CUDA cores
                        li Wifi
                      ul
                        li For motor mechanics enthusiastic:
                        li Car Controls
                        li Steering servo
                        li Engine: 2100kV; 7.4V; 17A
                        li Easy control via arduino
                .col-50
                  h3.accent.text What's important to us
                  ul
                    li degree of fun
                    li extent of pizza consumption

        a(name="challenge-mr")
          .challenge.row
            .col-33
              img(src="assets/images/sponsors/mr.jpg")
            .col-66
              h2.accent.text Maschinenfabrik Reinhausen
              p Exploration and interpretation of multidimensional data is relevant in numerous fields of application. Industry 4.0 and the IoT are in the same game. Sensor data is more and more accessible and continuously measured. The true art is deriving insights from data and translating this into business models and customer value. 
              p The challenge addresses the creative and technological aspects of this: Show us how to extract useful insights from real multidimensional sensor data and related data sets. The choice of means is absolutely free! Visual and analytic approaches are both welcome! Apply your university knowledge or surprise us with your own brew!

              .grid
                .row
                  .col-50
                    h3.accent.text What we'll bring
                    ul
                      li Real sensor data from 5 electrical devices
                      li Weather data of related zone
                      li Calendar information about related region
                  .col-50
                    h3.accent.text Additional Hints
                    ul
                      li Web-Visualisation of multidimensional data
                      li Interactive Diagrams
                      li Outlier Detection
                      li Trends and Forecasts
                      li Machine Learning
        
        a(name="challenge-braincourt")
          .challenge.row
            .col-33
              img(src="assets/images/sponsors/braincourt.jpg")
            .col-66
              h2.accent.text Braincourt
              p The much awaited FIFA World Cup 2018 is underway. From June 12 to July 13, 32 national football teams would be competing against each other to lift the much coveted FIFA World Cup and be hailed as World Champions for the next four years. But, with all the available data in the current world, can we already predict, as to who would win? Can we add a dash of Data Science to the World Cup recipe? Can we use data to somehow account for the unaccountable factors such as referee mistakes, weaker teams scoring, player injuries, and many more and attempt to predict the outcome? Is it even possible?

              .grid
                .row
                  .col-50
                    h3.accent.text What we'll bring
                    ul
                      li Big Data Expertise
                      li Data Science Know-How
                      li Project Management Expertise
                      li Help with finding the right data sources
                  .col-50
                    h3.accent.text Key focus areas
                    ul
                      li Smart Society
                      li Big Data
                      li Data Science
                  .col-50
                    h3.accent.text Criteria                    
                    p A working model or tool which would evaluate the participating teams against atleast 7 variables such as player fitness, weather, team chemistry, past performances, referee pressure etc. and predict the scheduled match outcomes.
                    p This model or tool should also additionally advance teams automatically by eliminating losing teams at different group stages.
                    p Ultimately, your model should predict only one winner and this winning team could/should ideally change when additional information is provided or when the input data is changed.
                  .col-50
                    h3.accent.text Information about the company
                    p At Braincourt, we offer professional, external, vendor-independent support to help our customers implement optimal solutions for Business Intelligence, Big Data, Digitalization, and Project Management areas. Find out more about us at: https://www.braincourt.com/
                  
        a(name="challenge-braincourt-2")
          .challenge.row
            .col-33
              img(src="assets/images/sponsors/braincourt.jpg")
            .col-66
              h2.accent.text Braincourt
              p Since customers behave differently under altered circumstances, the challenge here is to derive a solution to predict how customers are likely to respond to known factors such as weather change, football matches, beer festivals, airline strikes, etc. and thus helping the public transport company to adopt appropriate changes to retain customers during this short altered phase. Examples public transportation companies with open datasets: Deutsche Bahn, Stuttgarter Straßenbahnen,…) https://data.deutschebahn.com/dataset?groups=datasets

              .grid
                .row
                  .col-50
                    h3.accent.text What we'll bring
                    ul
                      li Big Data Expertise
                      li Data Science Know-How
                      li Project Management Expertise
                      li Help with finding the right data sources
                  .col-50
                    h3.accent.text Key focus areas
                    ul
                      li Smart Society
                      li Big Data
                      li Data Science
                  .col-50
                    h3.accent.text Criteria                    
                    p A working solution to predict future customer behavior/trends with respect to public transport services.
                    p The proposed solution should take into consideration atleast 10 different external variables by comparing datasets against each other, such as, weather vs. public events calendar vs. public holidays vs. public transportation timetables vs. Newspaper headlines.
                    p Ultimately, your solution should identify the possible customer churn and also show it in form of a dashboard.
                    p A real-time dashboard would be a huge plus.
                  .col-50
                    h3.accent.text Information about the company
                    p At Braincourt, we offer professional, external, vendor-independent support to help our customers implement optimal solutions for Business Intelligence, Big Data, Digitalization, and Project Management areas. Find out more about us at: https://www.braincourt.com/
                  

