doctype html

html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="description", content="Hackaburg is meeting point for over 100 developers, designers, and enterpreneurs from around the world. Join the adventure in May 2019!")
    meta(name="keywords", content="hackathon,regensburg,innovation,development,design,entrepreneurship")
    meta(name="theme-color", content="#9ac017")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
    link(rel="stylesheet", href="assets/css/stylesheet.min.css")

    meta(property="og:type", content="website")
    meta(property="og:image", content="http://hackaburg.de/assets/images/og-image.jpg")
    meta(property="og:image:secure_url", content="https://hackaburg.de/assets/images/og-image.jpg")
    meta(property="og:image:width", content="1200")
    meta(property="og:image:height", content="650")
    
    link(rel="icon" type="image/png" sizes="16x16" href="assets/images/logo.png")
    title
      block title

  body
    block body

    script#cookiebanner(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.2.1/cookiebanner.min.js", integrity="sha256-tKsZSIsHQmNHgO2qfK8KT9SSOvKTbxgskN5dfhrpUS8=", crossorigin="anonymous", data-message="We use cookies to improve your browsing experience.", data-moreinfo="https://hackaburg.de/imprint.html")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js", integrity="sha256-9Nt2r+tJnSd2A2CRUvnjgsD+ES1ExvjbjBNqidm9doI=", crossorigin="anonymous")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jump.js/1.0.2/jump.min.js", integrity="sha256-nLkfxAF8lAuFgs9kcFqZff/MohZAA8mNLQ/buYWwOLs=", crossorigin="anonymous")
    script(type="text/javascript", src="assets/js/hackaburg.min.js")

    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-90366502-1")
    script.
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag("js", new Date());
      gtag("config", "UA-90366502-1", { "anonymize_ip": true });
