doctype html

html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400")
    link(rel="stylesheet", href="assets/css/stylesheet.min.css")
    title hackaburg 2018

  body
    nav
      .container
        block nav
          ul
            li
              a(href="#") Home
        
        a.mlh(href="#")
          img(src="https://s3.amazonaws.com/logged-assets/trust-badge/2018/black.svg")

    block content

    .upwards.left.white.triangle

    footer.white.block
      .container
        .grid
          .row
            .col-50
              ul
                li
                  a(href="#") Imprint
            .right.aligned.text.col-50 made with 
              span.accent.bigger.text &hearts; 
              | in Regensburg

    script(type="text/javascript", src="assets/js/hackaburg.min.js")
