body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h1,
h2,
h3 {
  margin: 0rem;

  font-weight: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

a,
a:active,
a:focus,
a:visited {
  color: currentColor;
  text-decoration: none;
}
