@color-accent: #9ac017;
@color-accent-light: #b4d153;

@size-container: 960px;
@size-triangle: 6rem;
@size-grid-margin: 1.5rem;

@duration-transition: 0.2s;

@z-triangle: 20;
@z-triangle-content: @z-triangle + 1;
@z-block: @z-triangle - 1;
@z-block-content: @z-block - 1;
