.button,
a.button {
  display: inline-block;

  padding: 0.5rem 3rem;

  border-radius: 5px;
  border: 2px solid @color-accent;

  color: #fff;
  background-color: @color-accent;

  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  transition-property: background-color, color, border-color;
  transition-duration: @duration-transition;

  cursor: pointer;

  &:hover {
    background-color: @color-accent-light;
    border-color: @color-accent-light;
  }

  &.inverted {
    border-color: @color-accent;
    background-color: transparent;
    color: @color-accent;

    &:hover {
      background-color: @color-accent;
      color: #fff;
    }
  }

  &.fluid {
    width: 100%;
  }

  &.marginTop1 {
    margin-top: 1rem;
  }
}
