.media {
  position: relative;

  margin-top: -@size-block-margin;
  margin-bottom: -5rem;

  video {
    width: 100%;
  }

  .description {
    position: absolute;
    bottom: @size-video-preview / 3;
    left: 0rem;
    right: 50%;

    padding-right: @size-grid-margin;

    background-color: rgba(0, 0, 0, 0.75);
    border: 2rem solid transparent;
  }
}
