nav {
  position: fixed;
  top: 0rem;
  left: 0rem;
  right: 0rem;

  display: block;

  color: #000;
  background-color: transparent;

  text-transform: uppercase;
  text-align: center;

  z-index: 100;

  transition-property: background-color, box-shadow;
  transition-duration: @duration-transition;

  &.raised {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  input[type="checkbox"],
  label {
    display: none;
  }

  .back.to.home {
    display: block;
    padding: 1.25rem;
    float: left;
  }

  .brand {
    float: left;

    img {
      margin: 0.125rem;
      height: 2.5rem;
    }

    .text {
      display: none;
    }
  }

  ul {
    display: inline-block;
    margin: 0rem;
    padding: 0rem;

    vertical-align: top;

    list-style: none;

    li {
      display: inline-block;

      a {
        display: block;
        padding: 1rem 1rem;

        position: relative;
        overflow: hidden;

        background-color: transparent;

        transition-property: background-color;
        transition-duration: @duration-transition;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
          color: currentColor;
        }

        &.active {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

@media screen and (max-width: @breakpoint-tablet) {
  nav {
    background-color: #fff;

    .back.to.home {
      padding: 2rem;
    }

    .brand {
      img {
        margin-top: 0.5rem;
        height: 3rem;
      }

      .text {
        display: inline-block;
        vertical-align: top;
        margin-top: 1.25rem;
        margin-left: 0.5rem;
        font-size: 1.5rem;
      }
    }

    ul {
      display: block;
      width: 100%;

      overflow: hidden;

      transition-property: height;
      transition-duration: @duration-transition;

      text-align: right;

      li {
        display: block;

        a.active {
          background-color: transparent;
        }
      }
    }

    input[type="checkbox"] {
      & ~ ul {
        height: 0rem;
      }

      &:checked ~ ul {
        height: 100vh;
      }
    }

    label {
      display: block;
      padding: 2rem;

      position: absolute;
      top: 0rem;
      right: 0rem;

      cursor: pointer;
    }
  }
}
