.partner {
  text-align: center;
  text-transform: uppercase;
  color: #999;

  &.level1 img {
    width: auto;
    height: 10rem;
  }

  &.level2 img {
    width: auto;
    height: 3.75rem;
  }

  &.level3 img {
    width: auto;
    height: 3.5rem;
  }

  &.level4 img {
    width: auto;
    height: 2.5rem;
  }
}
