.timetable {
  @hour-line-distance: 4.5rem;

  position: relative;
  height: 45rem;

  .hours {
    position: absolute;
    top: 3rem;
    left: 0rem;
    width: 100%;

    .hour.line {
      position: relative;
      top: -0.5rem;

      &::before {
        content: " ";
        position: absolute;
        top: 0.5rem;
        left: 3rem;
        right: 0rem;

        display: block;

        border-bottom: 1px solid #eee;
      }

      & + .hour.line {
        margin-top: ~"calc(@{hour-line-distance} - 1px)";
      }
    }
  }

  .days {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;

    padding-left: 3rem;

    overflow: auto hidden;
    white-space: nowrap;

    .day {
      display: inline-block;
      width: 45%;
      margin-left: 2rem;
      vertical-align: top;

      .date {
        margin: 0.65rem 0rem;
        font-size: 1.5rem;
      }

      .events {
        .row {
          margin: 0rem;
        }

        [class*="col-"] {
          padding: 0rem;
        }

        .event {
          position: relative;
          margin-top: -1px;

          border: 1px solid #eee;
          border-left: 3px solid #333;
          border-radius: 2px;

          white-space: initial;

          &.blank {
            visibility: hidden;
          }

          &.gray {
            background-color: #f7f7f7;
            border-color: #eee;
            border-left-color: #ccc;
          }

          &.accent {
            background-color: fade(@color-accent, 30%);
            border-color: fade(@color-accent, 40%);
            border-left-color: @color-accent;
          }

          &.striped {
            background: repeating-linear-gradient(-45deg, #eee, #eee 3px, #f7f7f7 3px, #f7f7f7 10px);
          }

          .duration {
            .clearfix();
            @one-hour-distance: @hour-line-distance / 1.655;

            .hour,
            .minutes {
              float: left;
              width: 100%;
            }

            .one.hour {
              height: @one-hour-distance;
            }

            .half.hour {
              height: @one-hour-distance / 2;
            }

            .fifteen.minutes {
              height: @one-hour-distance / 4;
            }

            .five.minutes {
              height: @one-hour-distance / 12;
            }
          }

          .content {
            position: absolute;
            top: 0rem;
            left: 0rem;

            width: 100%;
            height: 100%;

            padding: 0.25rem 0.5rem;

            .title,
            .title h4,
            .time {
              display: inline-block;
              font-size: 0.8rem;
            }

            .time {
              opacity: 0.75;
              font-weight: 500;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: @breakpoint-mobile) {
  .timetable {
    height: auto;

    .hours {
      display: none;
    }

    .days {
      position: initial;
      padding: 0rem;
      overflow: initial;
      white-space: initial;

      .day {
        width: 100%;
        margin-left: 0rem;
        margin-top: 2rem;

        .events {
          .event {
            margin-bottom: 0.5rem;

            &.blank {
              display: none;
            }

            .duration {
              display: none;
            }

            .content {
              position: relative;

              .time {
                display: block;
                margin-bottom: 0.5rem;
              }

              .title {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
