@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/mulish_400.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/mulish_700.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@layer base {
  body {
    font-family: "Mulish", sans-serif;
    color: aliceblue;
    background-color: rgb(26,17,54);
    background-color: linear-gradient(180deg, rgba(26,17,54,1) 0%, rgba(29,20,62,1) 30%, rgba(38,31,84,1) 60%, rgba(41,39,100,1) 80%, rgba(56,51,118,1) 100%);

    background-image:    url('$lib/images/cloud.webp');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.stars {
  background-image: url('$lib/images/star_pattern.png');
  background-size: 80%;
  background-repeat: repeat;
  background-blend-mode: overlay;
  background-attachment: fixed;
}

.hackaburg {
  color: #ca70a2;
}

.bg-hackaburg {
  background-color: #ca70a2;
}

.glow {
  box-shadow: 0 0 20px -5px hsl(203, 92%, 75%, 1);
}
.glow-soft {
  box-shadow: 0 0 10px -5px hsl(203, 92%, 75%, .3);
}

.glow:hover {
  box-shadow: 0 0 30px 10px hsla(340, 57%, 64%, .5);
}

.glow-soft:hover {
  box-shadow: 0 0 20px 10px hsla(340, 57%, 64%, .3);
}